@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy-950: #0a0f1c;
  --navy-900: #0f172a;
  --navy-800: #1e293b;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: var(--navy-950);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

@layer components {
  .bg-primary-gradient {
    background-image: linear-gradient(
      124.54deg,
      rgba(10, 31, 85, 0.4) 0%,
      rgba(16, 44, 115, 0.4) 27.66%,
      rgba(12, 26, 76, 0.4) 70.02%
    );
  }
  .hover-primary-gradient:hover {
    filter: brightness(1.5);
  }
}
